<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>

            <div class="container">
                <hr>

                <div class="card">
                    <div class="card-header">
                        <h2>Edição de Categoria</h2>
                    </div>
                    <div class="card-body">
                        <form method="POST" action="/admin/categorias/atualizar">
                            <input type="text" name="titulo" class="form-control"
                                placeholder="Defina o título da categoria" value="<%= categoria.titulo %>"><br>
                                <input type="hidden" value="<%= categoria.id %>" name="id">
                            <button class="btn btn-success">Atualizar</button>
                        </form>
                    </div>
                </div>
            </div>

    </body>

    <%- include('../../partials/footer.ejs') %>