<%- include('../../partials/header.ejs') %>

    <body>
        <%- include('../../partials/navbar.ejs') %>

            <div class="container">
                <hr>
                <h2>Categorias</h2>
                <hr>
                <a href="/admin/categorias/nova" class="btn btn-success">Criar nova Categoria</a>

                <table class="table table-bordered mt-3">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Slug</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>

                        <% categorias.forEach(categoria=> {%>
                            <tr>
                                <th>
                                    <%= categoria.id %>
                                </th>
                                <th>
                                    <%= categoria.titulo %>
                                </th>
                                <th>
                                    <%= categoria.slug %>
                                </th>
                                <th>
                                    <a href="" class="btn btn-warning">Editar</a>
                                    <form action="/admin/categorias/deletar" method="POST"
                                        onsubmit="verificarDelecao(this)" style="display: inline;">
                                        <input type="hidden" name="id" value="<%= categoria.id %>">
                                        <button class="btn btn-danger">Deletar</button>
                                    </form>
                                </th>
                            </tr>
                            <% }); %>

                    </tbody>
                </table>

            </div>
    </body>

    <%- include('../../partials/footer.ejs') %>

        <script>
            function verificarDelecao(form) {
                event.preventDefault()
                let confirmacao = confirm("Você tem certeza que deseja excluir essa categoria?")
                if (confirmacao) {
                    form.submit()
                }
            }
        </script>